In [2]:
import pandas as pd
data = pd.read_excel(r'C:\Users\hp\OneDrive\Masaüstü\kanada verisi.xlsx')
data_df = pd.DataFrame(data)

In [3]:
data_df.head()

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000

In [4]:
data_df.drop('Address', axis=1, inplace=True)
print(data_df)

          City      Price  Number_Beds  Number_Baths     Province  Population  \
0      Toronto   779900.0            3             2      Ontario     5647656
1      Toronto   799999.0            3             1      Ontario     5647656
2      Toronto   799900.0            2             2      Ontario     5647656
3      Toronto  1200000.0            4             2      Ontario     5647656
4      Toronto   668800.0            1             1      Ontario     5647656
...        ...        ...          ...           ...          ...         ...
35763  Halifax   439900.0            2             2  Nova Scotia      431479
35764  Halifax  6990000.0            5             5  Nova Scotia      431479
35765  Halifax   419900.0            2             2  Nova Scotia      431479
35766  Halifax   949900.0            3             1  Nova Scotia      431479
35767  Halifax   592900.0            2             1  Nova Scotia      431479

       Latitude  Longitude  Median_Family_Income
0       43.7417   -79.3733                 97000
1       43.7417   -79.3733                 97000
2       43.7417   -79.3733                 97000
3       43.7417   -79.3733                 97000
4       43.7417   -79.3733                 97000
...         ...        ...                   ...
35763   44.8857    63.1005                 86753
35764   44.8857    63.1005                 86753
35765   44.8857    63.1005                 86753
35766   44.8857    63.1005                 86753
35767   44.8857    63.1005                 86753

[35768 rows x 9 columns]

In [5]:
Q1 = data_df['Number_Beds'].quantile(0.25)
Q3 = data_df['Number_Beds'].quantile(0.75)
IQR = Q3 - Q1
alt_sinir = Q1 - 1.5*IQR
ust_sinir = Q3 + 1.5*IQR
print(alt_sinir)
print(ust_sinir)

-1.0
7.0

In [6]:
clean_data1 = data_df[(data_df['Number_Beds'] >= alt_sinir) & (data_df['Number_Beds'] <= ust_sinir)]
print(clean_data1)

          City      Price  Number_Beds  Number_Baths     Province  Population  \
0      Toronto   779900.0            3             2      Ontario     5647656
1      Toronto   799999.0            3             1      Ontario     5647656
2      Toronto   799900.0            2             2      Ontario     5647656
3      Toronto  1200000.0            4             2      Ontario     5647656
4      Toronto   668800.0            1             1      Ontario     5647656
...        ...        ...          ...           ...          ...         ...
35763  Halifax   439900.0            2             2  Nova Scotia      431479
35764  Halifax  6990000.0            5             5  Nova Scotia      431479
35765  Halifax   419900.0            2             2  Nova Scotia      431479
35766  Halifax   949900.0            3             1  Nova Scotia      431479
35767  Halifax   592900.0            2             1  Nova Scotia      431479

       Latitude  Longitude  Median_Family_Income
0       43.7417   -79.3733                 97000
1       43.7417   -79.3733                 97000
2       43.7417   -79.3733                 97000
3       43.7417   -79.3733                 97000
4       43.7417   -79.3733                 97000
...         ...        ...                   ...
35763   44.8857    63.1005                 86753
35764   44.8857    63.1005                 86753
35765   44.8857    63.1005                 86753
35766   44.8857    63.1005                 86753
35767   44.8857    63.1005                 86753

[35323 rows x 9 columns]

In [7]:
Q1 = data_df['Number_Baths'].quantile(0.25)
Q3 = data_df['Number_Baths'].quantile(0.75)
IQR = Q3 - Q1
alt_sinir = Q1 - 1.5*IQR
ust_sinir = Q3 + 1.5*IQR
print(alt_sinir)
print(ust_sinir)

0.5
4.5

In [8]:
clean_data2 = clean_data1[(clean_data1['Number_Baths'] >= alt_sinir) & (clean_data1['Number_Baths'] <= ust_sinir)]
print(clean_data2)

          City      Price  Number_Beds  Number_Baths     Province  Population  \
0      Toronto   779900.0            3             2      Ontario     5647656
1      Toronto   799999.0            3             1      Ontario     5647656
2      Toronto   799900.0            2             2      Ontario     5647656
3      Toronto  1200000.0            4             2      Ontario     5647656
4      Toronto   668800.0            1             1      Ontario     5647656
...        ...        ...          ...           ...          ...         ...
35762  Halifax   580000.0            3             1  Nova Scotia      431479
35763  Halifax   439900.0            2             2  Nova Scotia      431479
35765  Halifax   419900.0            2             2  Nova Scotia      431479
35766  Halifax   949900.0            3             1  Nova Scotia      431479
35767  Halifax   592900.0            2             1  Nova Scotia      431479

       Latitude  Longitude  Median_Family_Income
0       43.7417   -79.3733                 97000
1       43.7417   -79.3733                 97000
2       43.7417   -79.3733                 97000
3       43.7417   -79.3733                 97000
4       43.7417   -79.3733                 97000
...         ...        ...                   ...
35762   44.8857    63.1005                 86753
35763   44.8857    63.1005                 86753
35765   44.8857    63.1005                 86753
35766   44.8857    63.1005                 86753
35767   44.8857    63.1005                 86753

[32952 rows x 9 columns]

In [9]:
Q1 = data_df['Price'].quantile(0.25)
Q3 = data_df['Price'].quantile(0.75)
IQR = Q3 - Q1
alt_sinir = Q1 - 1.5*IQR
ust_sinir = Q3 + 1.5*IQR
print(alt_sinir)
print(ust_sinir)

-492750.0
2047650.0

In [10]:
clean_data3 = clean_data2[(clean_data2['Price'] >= alt_sinir) & (clean_data2['Price'] <= ust_sinir)]
print(clean_data3)

          City      Price  Number_Beds  Number_Baths     Province  Population  \
0      Toronto   779900.0            3             2      Ontario     5647656
1      Toronto   799999.0            3             1      Ontario     5647656
2      Toronto   799900.0            2             2      Ontario     5647656
3      Toronto  1200000.0            4             2      Ontario     5647656
4      Toronto   668800.0            1             1      Ontario     5647656
...        ...        ...          ...           ...          ...         ...
35762  Halifax   580000.0            3             1  Nova Scotia      431479
35763  Halifax   439900.0            2             2  Nova Scotia      431479
35765  Halifax   419900.0            2             2  Nova Scotia      431479
35766  Halifax   949900.0            3             1  Nova Scotia      431479
35767  Halifax   592900.0            2             1  Nova Scotia      431479

       Latitude  Longitude  Median_Family_Income
0       43.7417   -79.3733                 97000
1       43.7417   -79.3733                 97000
2       43.7417   -79.3733                 97000
3       43.7417   -79.3733                 97000
4       43.7417   -79.3733                 97000
...         ...        ...                   ...
35762   44.8857    63.1005                 86753
35763   44.8857    63.1005                 86753
35765   44.8857    63.1005                 86753
35766   44.8857    63.1005                 86753
35767   44.8857    63.1005                 86753

[31545 rows x 9 columns]

In [11]:
data_encoded = pd.get_dummies(clean_data3, columns=['City','Province'])
print(data_encoded)

           Price  Number_Beds  Number_Baths  Population  Latitude  Longitude  \
0       779900.0            3             2     5647656   43.7417   -79.3733
1       799999.0            3             1     5647656   43.7417   -79.3733
2       799900.0            2             2     5647656   43.7417   -79.3733
3      1200000.0            4             2     5647656   43.7417   -79.3733
4       668800.0            1             1     5647656   43.7417   -79.3733
...          ...          ...           ...         ...       ...        ...
35762   580000.0            3             1      431479   44.8857    63.1005
35763   439900.0            2             2      431479   44.8857    63.1005
35765   419900.0            2             2      431479   44.8857    63.1005
35766   949900.0            3             1      431479   44.8857    63.1005
35767   592900.0            2             1      431479   44.8857    63.1005

       Median_Family_Income  City_Abbotsford  City_Airdrie  City_Barrie  ...  \
0                     97000                0             0            0  ...
1                     97000                0             0            0  ...
2                     97000                0             0            0  ...
3                     97000                0             0            0  ...
4                     97000                0             0            0  ...
...                     ...              ...           ...          ...  ...
35762                 86753                0             0            0  ...
35763                 86753                0             0            0  ...
35765                 86753                0             0            0  ...
35766                 86753                0             0            0  ...
35767                 86753                0             0            0  ...

       City_Winnipeg  Province_Alberta  Province_British Columbia  \
0                  0                 0                          0
1                  0                 0                          0
2                  0                 0                          0
3                  0                 0                          0
4                  0                 0                          0
...              ...               ...                        ...
35762              0                 0                          0
35763              0                 0                          0
35765              0                 0                          0
35766              0                 0                          0
35767              0                 0                          0

       Province_Manitoba  Province_New Brunswick  \
0                      0                       0
1                      0                       0
2                      0                       0
3                      0                       0
4                      0                       0
...                  ...                     ...
35762                  0                       0
35763                  0                       0
35765                  0                       0
35766                  0                       0
35767                  0                       0

       Province_Newfoundland and Labrador  Province_Nova Scotia  \
0                                       0                     0
1                                       0                     0
2                                       0                     0
3                                       0                     0
4                                       0                     0
...                                   ...                   ...
35762                                   0                     1
35763                                   0                     1
35765                                   0                     1
35766                                   0                     1
35767                                   0                     1

       Province_Ontario  Province_Quebec  Province_Saskatchewan
0                     1                0                      0
1                     1                0                      0
2                     1                0                      0
3                     1                0                      0
4                     1                0                      0
...                 ...              ...                    ...
35762                 0                0                      0
35763                 0                0                      0
35765                 0                0                      0
35766                 0                0                      0
35767                 0                0                      0

[31545 rows x 61 columns]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [13]:
Y = data_encoded[['Price']]
Y.head()

       Price
0   779900.0
1   799999.0
2   799900.0
3  1200000.0
4   668800.0

In [14]:
from sklearn.preprocessing import StandardScaler

# Z-score normalizasyonu için StandardScaler sınıfını kullanma
scaler = StandardScaler()
Y_standardized = scaler.fit_transform(Y)

In [15]:
X = data_encoded.copy()
X.drop('Price', axis=1, inplace=True)
print(X)

       Number_Beds  Number_Baths  Population  Latitude  Longitude  \
0                3             2     5647656   43.7417   -79.3733
1                3             1     5647656   43.7417   -79.3733
2                2             2     5647656   43.7417   -79.3733
3                4             2     5647656   43.7417   -79.3733
4                1             1     5647656   43.7417   -79.3733
...            ...           ...         ...       ...        ...
35762            3             1      431479   44.8857    63.1005
35763            2             2      431479   44.8857    63.1005
35765            2             2      431479   44.8857    63.1005
35766            3             1      431479   44.8857    63.1005
35767            2             1      431479   44.8857    63.1005

       Median_Family_Income  City_Abbotsford  City_Airdrie  City_Barrie  \
0                     97000                0             0            0
1                     97000                0             0            0
2                     97000                0             0            0
3                     97000                0             0            0
4                     97000                0             0            0
...                     ...              ...           ...          ...
35762                 86753                0             0            0
35763                 86753                0             0            0
35765                 86753                0             0            0
35766                 86753                0             0            0
35767                 86753                0             0            0

       City_Brantford  ...  City_Winnipeg  Province_Alberta  \
0                   0  ...              0                 0
1                   0  ...              0                 0
2                   0  ...              0                 0
3                   0  ...              0                 0
4                   0  ...              0                 0
...               ...  ...            ...               ...
35762               0  ...              0                 0
35763               0  ...              0                 0
35765               0  ...              0                 0
35766               0  ...              0                 0
35767               0  ...              0                 0

       Province_British Columbia  Province_Manitoba  Province_New Brunswick  \
0                              0                  0                       0
1                              0                  0                       0
2                              0                  0                       0
3                              0                  0                       0
4                              0                  0                       0
...                          ...                ...                     ...
35762                          0                  0                       0
35763                          0                  0                       0
35765                          0                  0                       0
35766                          0                  0                       0
35767                          0                  0                       0

       Province_Newfoundland and Labrador  Province_Nova Scotia  \
0                                       0                     0
1                                       0                     0
2                                       0                     0
3                                       0                     0
4                                       0                     0
...                                   ...                   ...
35762                                   0                     1
35763                                   0                     1
35765                                   0                     1
35766                                   0                     1
35767                                   0                     1

       Province_Ontario  Province_Quebec  Province_Saskatchewan
0                     1                0                      0
1                     1                0                      0
2                     1                0                      0
3                     1                0                      0
4                     1                0                      0
...                 ...              ...                    ...
35762                 0                0                      0
35763                 0                0                      0
35765                 0                0                      0
35766                 0                0                      0
35767                 0                0                      0

[31545 rows x 60 columns]

In [16]:
from sklearn.preprocessing import StandardScaler

# Z-score normalizasyonu için StandardScaler sınıfını kullanma
scaler = StandardScaler()
X_standardized = scaler.fit_transform(X)

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X_standardized, Y_standardized, test_size=0.2
                                                    , random_state=42, shuffle=False)

In [18]:
gb_reg = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

gb_reg.fit(X_train, Y_train)

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(random_state=42)

In [19]:
y_tahmin = gb_reg.predict(X_test)
print(y_tahmin)

[-1.06461795 -0.18250961 -0.53768321 ... -0.65746543 -0.9423887
 -1.01657217]

In [20]:
MSE = mean_squared_error(Y_test, y_tahmin)
print(MSE)

0.5006724595928852

In [25]:
from sklearn.metrics import r2_score
r2 = r2_score(Y_test, y_tahmin)
print("R² Değeri:", r2)

R² Değeri: 0.5776642044825837

In [22]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(Y_test , y_tahmin)
print(MAE)

0.48003345057749847